<div class="card p-6" >
    <h2 class="m-0 title" >Side quests</h2>

    <table mat-table [dataSource]="dataSource" style="width:100%; margin-top: -30px;" >

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Icon Column -->
<!--        <ng-container matColumnDef="icon" style="width:5%">-->
<!--            <th stymat-header-cell *matHeaderCellDef></th>-->
<!--            <td class="setImageWidth hideMobile"mat-cell *matCellDef="let element" >-->
<!--                <div class="centerRow" *ngIf="element.icon === 'Health'" ><img src="assets/img/characters/1.png" class="characterimg"></div>-->
<!--                <div class="centerRow" *ngIf="element.icon === 'Stamina'" ><img src="assets/img/characters/2.png" class="characterimg"></div>-->
<!--                <div class="centerRow" *ngIf="element.icon === 'Strength'" ><img src="assets/img/characters/3.png" class="characterimg"></div>-->
<!--                <div class="centerRow" *ngIf="element.icon === 'Intelligence'" ><img src="assets/img/characters/4.png" class="characterimg"></div>-->
<!--            </td>-->
<!--        </ng-container>-->


        <ng-container matColumnDef="platform">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="setwidth"mat-cell *matCellDef="let i of dataSource" >

                <div class="centerRow">

                    <p>{{i.description}}</p>
                </div>


            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="addButton">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox color="primary" [checked]="false"></mat-checkbox>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>





</div>

