
<div class="card p-6" >
    <h2 class="m-0 title" >Current party</h2>

    <table mat-table [dataSource]="dataSource" style="width:100%; margin-top: -30px;" >

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Icon Column -->
        <ng-container matColumnDef="icon" style="width:5%">
            <th stymat-header-cell *matHeaderCellDef></th>
            <td class="setImageWidth"mat-cell *matCellDef="let element" >
                <div class="centerRow" *ngIf="element.icon === 'Health'" ><img src="assets/img/characters/1.png" class="characterimg"></div>
                <div class="centerRow" *ngIf="element.icon === 'Stamina'" ><img src="assets/img/characters/2.png" class="characterimg"></div>
                <div class="centerRow" *ngIf="element.icon === 'Strength'" ><img src="assets/img/characters/3.png" class="characterimg"></div>
                <div class="centerRow" *ngIf="element.icon === 'Intelligence'" ><img src="assets/img/characters/4.png" class="characterimg"></div>
            </td>
        </ng-container>

x
        <!-- Platform Column -->
        <ng-container matColumnDef="platform">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="setwidth"mat-cell *matCellDef="let element" >
                <div class="centerRow" *ngIf="element.icon === 'Health'" >
                    <p><b>Andrea:</b> I'm glad we met! And good to see that you keep improving yourself, if you keep going like this we can defeat the king in no time. </p>
                </div>
                <div class="centerRow" *ngIf="element.icon === 'Stamina'" >
                    <p><b>Alde:</b> I'm sorry to say this, but you should do more about your crafting skills. What if we need you to build something? </p>
                </div>
                <div class="centerRow" *ngIf="element.icon === 'Strength'" >
                    <p><b>Holo:</b> Thank you so much for keeping me safe from the warrior clan! The work you put in really pays of. Keep doing what your doing.</p>
                </div>
                <div class="centerRow" *ngIf="element.icon === 'Intelligence'" >
                    <p><b>Graves:</b> You are not strong enough to defeat the king. Train more! Or I'm leaving this party and find a better one, even if I don't want to.</p>
                </div>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="addButton">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button class="ml-0" color="#4267B2" mat-icon-button type="button">
                    <mat-icon  class="bg-chat" >chat</mat-icon>  <!-- #4267B2 -->
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>


