<!--<div class=" card p-6" style="text-align:center;" >-->
<div class=" card p-6" style="text-align:center;" >
    <h2 class="m-0 title" >Motivate yourself</h2><br>
    <p><b>Level Up</b> is a free website that allows you to make tedious tasks more enjoyable by rewarding you for completing them. Level up your character, explore different locations, uncover new items, stories, and meet characters that can help you on your journey to greatness!</p><br>

    <button class="mybutton" mat-raised-button color="primary">Sign me up, Scotty</button>
</div>

<!--<img src="assets/img/characters/1.png" class="characterimg">-->
<!--<img src="assets/img/characters/2.png" class="characterimg">-->
<!--<img src="assets/img/characters/3.png" class="characterimg">-->
<!--<img src="assets/img/characters/4.png" class="characterimg">-->