<vex-secondary-toolbar [crumbs]="['Blank Page']" current="Locations">
    <vex-breadcrumbs [crumbs]="['Overview']" class="flex-auto"></vex-breadcrumbs>

</vex-secondary-toolbar>

<div class="p-gutter container"
     gdColumns="1fr 1fr 1fr 1fr"
     gdColumns.lt-md="1fr 1fr"
     gdColumns.lt-sm="1fr"
     gdGap="16px"
     vexContainer>
    <!--    <img src="assets/img/illustrations/checklist.svg" style="height: 168px; width: 152px">-->
    <vex-landingheader gdColumn="1 / 6" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1"></vex-landingheader>



    <div gdColumn="1 / 3" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1" >
        <vex-widget-howtoplay gdColumn="1 / 3" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1"></vex-widget-howtoplay> <br>
        <vex-widget-salespitch1 gdColumn="1 / 3" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1"></vex-widget-salespitch1>
    </div>
    <div gdColumn="3 / 6" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1" >
        <vex-widget-dummy-level-status gdColumn="3 / 6" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1"></vex-widget-dummy-level-status><br>
        <vex-widget-call-to-action gdColumn="3 / 6" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1"></vex-widget-call-to-action>
    </div>


</div>
