



<div class="p-gutter container" vexContainer>

    <div class="card p-6">
        <h2 class="m-0 title mb-6">Settings</h2>
        Hello there
    </div>


</div>

<!--

<div _ngcontent-lho-c360="" vexcontainer="" class="p-gutter container">
    <div class="card p-3">
        <h2 class="m-0 title mb-3">Settings</h2>
        Hello there
    </div>
</div>
<div class="card p-3">
    <h2 class="m-0 title mb-3">Settings</h2>
    Hello there
</div>
-->
