
<div class="card p-6" >
    <h2 class="m-0 title" style="text-align:center;" >Level up your character</h2>

    <table mat-table [dataSource]="dataSource" style="width:100%; margin-top: -30px;" >

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Icon Column -->
        <ng-container matColumnDef="icon" style="width:5%">
            <th stymat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" >
                <div class="centerRow" *ngIf="element.icon === 'Health'" ><mat-icon class="bg-health">nature_people</mat-icon> &nbsp;Health</div>
                <div class="centerRow" *ngIf="element.icon === 'Stamina'" ><mat-icon class="bg-stamina" >battery_charging_full</mat-icon> &nbsp;Stamina</div>
                <div class="centerRow" *ngIf="element.icon === 'Strength'" ><mat-icon class="bg-strength" >rowing</mat-icon> &nbsp;Strength</div>
                <div class="centerRow" *ngIf="element.icon === 'Intelligence'" ><mat-icon  class="bg-intelligence" >wb_incandescent</mat-icon> &nbsp;Intelligence</div>
                <div class="centerRow" *ngIf="element.icon === 'Love'" ><mat-icon  class="bg-love" >favorite</mat-icon> &nbsp;Love</div>
                <div class="centerRow" *ngIf="element.icon === 'Crafting'" ><mat-icon  class="bg-crafting" >build</mat-icon> &nbsp;Crafting</div>
                <div class="centerRow" *ngIf="element.icon === 'Work'" ><mat-icon  class="bg-work" >work</mat-icon> &nbsp;Work </div>
            </td>
        </ng-container>

        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <!-- Platform Column -->
        <ng-container matColumnDef="platform">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="setwidth"mat-cell *matCellDef="let element" >
                <div class="centerRow" *ngIf="element.icon === 'Health'" ><mat-progress-bar class="progressbarstyle" mode="determinate" value="65"></mat-progress-bar></div>
                <div class="centerRow" *ngIf="element.icon === 'Stamina'" ><mat-progress-bar class="progressbarstyle" mode="determinate" value="80"></mat-progress-bar></div>
                <div class="centerRow" *ngIf="element.icon === 'Strength'" ><mat-progress-bar class="progressbarstyle" mode="determinate" value="50"></mat-progress-bar></div>
                <div class="centerRow" *ngIf="element.icon === 'Intelligence'" ><mat-progress-bar class="progressbarstyle" mode="determinate" value="90"></mat-progress-bar></div>
                <div class="centerRow" *ngIf="element.icon === 'Love'" ><mat-progress-bar class="progressbarstyle" mode="determinate" value="50"></mat-progress-bar></div>
                <div class="centerRow" *ngIf="element.icon === 'Crafting'" ><mat-progress-bar class="progressbarstyle" mode="determinate" value="70"></mat-progress-bar></div>
                <div class="centerRow" *ngIf="element.icon === 'Work'" ><mat-progress-bar class="progressbarstyle" mode="determinate" value="95"></mat-progress-bar></div>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="addButton">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="centerRow" *ngIf="element.icon === 'Health'" ><p>Lvl. 4</p></div>
                <div class="centerRow" *ngIf="element.icon === 'Stamina'" ><p>Lvl. 6</p></div>
                <div class="centerRow" *ngIf="element.icon === 'Strength'" ><p>Lvl. 2</p></div>
                <div class="centerRow" *ngIf="element.icon === 'Intelligence'" ><p>Lvl. 5</p></div>
                <div class="centerRow" *ngIf="element.icon === 'Love'" ><p>Lvl. 9</p></div>
                <div class="centerRow" *ngIf="element.icon === 'Crafting'" ><p>Lvl. 8</p></div>
                <div class="centerRow" *ngIf="element.icon === 'Work'" ><p>Lvl. 3</p></div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>


