@import "https://fonts.googleapis.com/icon?family=Material+Icons";

$color-health: #69c319;
$color-stamina: #198dc3;
$color-strength: #c31919;
$color-intelligence: #c3c119;
$color-love: #c31919;
$color-crafting: #19c3b9;
$color-work: orange;

.mat-progress-bar {
    border-radius: 5px;
    height: 20px;
}

.mat-progress-bar-fill::after {
    background-color: #1E457C;
}

.mat-progress-bar-buffer {
     background: #bbc6fe;
 }

.setwidth{
 width:60%;
}


.centerRow {
  display: flex;
  align-items: center;
}

.bg-health {
  color: $color-health;
  font-size: 24px;
}

.bg-stamina {
  color: $color-stamina;
}

.bg-strength {
  color: $color-strength;
}

.bg-intelligence {
  color: $color-intelligence;
}

.bg-love {
  color: $color-love;
}

.bg-crafting {
  color: $color-crafting;
}

.bg-work {
  color: $color-work;
}
