.user-list-container {
  height: calc(100vh - 450px);
    overflow-y: auto; /* Enable vertical scrolling when content exceeds the height */
  }
  

  .user-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .user-icon-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .user-icon {
    width: 50px; /* Set the width to 80px */
    height: 50px; /* Set the height to 80px */
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 10px; /* Apply a 20px border radius */
    object-fit: cover; /* Ensure the image covers the entire container */
  }
  
  
  .user-details {
    flex: 1;
  }
  
  /* Additional styling for user details (customize as needed) */
  .user-name {
    margin: 0;
  }
  
  .user-email {
    margin: 0;
  }

  .mybutton {
    min-width: 100px;
}
  

.user-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease;
  border-radius: 10px; 
}

.user-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px; 
}

.user-button2:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px; 
}

.user-button {
  display: none; /* Initially hide the button */

}

.user-button2 {
  display: none; /* Initially hide the button */
}

.user-button3 {
  display: none; /* Initially hide the button */
}

.user-item:hover .user-button2 {
  display: inline-block; /* Show the button when user-item is hovered */
  padding-right: 15px;
}

.user-item:hover .user-button {
  display: inline-block; /* Show the button when user-item is hovered */
  padding-right: 15px;
}

.user-item:hover .user-button3 {
  display: inline-block; /* Show the button when user-item is hovered */
  padding-right: 15px;
}