<vex-secondary-toolbar [crumbs]="['Blank Page']" current="Options">
    <vex-breadcrumbs [crumbs]="['Company']" class="flex-auto"></vex-breadcrumbs>
    <button class="ml-2" color="primary" mat-icon-button type="button">
    </button>
</vex-secondary-toolbar>

<!-- <div class="mt-4 flex flex-col sm:flex-row"  fxLayoutAlign="start center" vexContainer>
  <h1 class="title m-0">Options</h1>
  <span fxFlex></span>
</div> -->

<div class="p-gutter"
     gdColumns="1fr"
     gdColumns.lt-md="1fr 1fr"
     gdColumns.lt-sm="1fr"
     gdGap="16px"
     vexContainer>
        <div class="mt-1 flex flex-col sm:flex-row gap-6">
            <div @fadeInUp class="card flex-auto">
              <div class="px-6 py-4 border-b flex items-center">
                <h2 class="title m-0">Company information</h2>
              </div>
        
              <div class="px-6 py-4 flex flex-col">
                <p class="mt-0 mb-4 text-secondary">
                    We use this information to connect teams to your company. New accounts can use the company code or be added automatically via a domain-associated email.
                </p>
        
                <mat-form-field class="vex-flex-form-field" color="primary">
                    <mat-label>Company name</mat-label>
                    <input matInput>
                  </mat-form-field>

                  <mat-form-field class="vex-flex-form-field" color="primary">
                    <mat-label>Company code</mat-label>
                    <input matInput readonly value="CDSE-CVSD-CSXD-BDSE-TKEV">
                  </mat-form-field>
                  
                  <p class="mt-0 mb-1 text-secondary">
                    Optional
                  </p>

                  <mat-form-field class="vex-flex-form-field" color="primary">
                    <span matPrefix>username@ &nbsp;</span>
                    <mat-label>Domain name</mat-label>
                    <input matInput placeholder="yourcompany.com" >
                  </mat-form-field>
                  <mat-slide-toggle color="primary" [checked]="true">Automatically add new accounts with this domain name to your company</mat-slide-toggle>
              </div>
              <div class="px-6 py-4 flex justify-end">
                <button class="mybutton" mat-raised-button color="primary">Save</button>
              </div>
            </div>
        
            <div @fadeInUp class="card flex-auto" style="min-width: 50%;">
              <div class="px-6 py-4 border-b flex items-center">
                <h2 class="title m-0">Linked accounts</h2>
              </div>
            
              <div class="px-6 py-4 flex flex-col">
                <p class="mt-0 mb-4 text-secondary">
                  All linked accounts connected to your company are shown below. You can search for specific accounts by name and email.
                </p>
                <mat-form-field class="vex-flex-form-field"  color="primary">
                  <mat-label>Search user</mat-label>
                  <input matInput [(ngModel)]="searchTerm" (input)="onSearch()">
                </mat-form-field>
            

            
                <div class="user-list-container">
                  <div *ngFor="let user of filteredUsers" class="user-item">
                    <div class="user-icon-container">
                      <img [src]="user.iconUrl" alt="User Icon" class="user-icon">
                    </div>
                    <div class="user-details">
                      <div *ngIf="user.userRight === 2">
                      <p class="user-name"><b>{{ user.name }}</b> [C]</p>
                      </div>
                      <div *ngIf="user.userRight === 3">
                        <p class="user-name"><b>{{ user.name }}</b></p>
                      </div>
                      <div *ngIf="user.userRight === 1">
                        <p class="user-name"><b>{{ user.name }}</b> [A]</p>
                      </div>
                      <div *ngIf="user.userRight === 0">
                        <p class="user-name"><b>{{ user.name }}</b> [O]</p>
                      </div>
                      <p class="user-email">{{ user.email }}</p>
                    </div>
                    <div *ngIf="userRight === 1">
                      <div *ngIf="user.userRight === 3">
                        <div class="button-container">
                          <button class="user-button2" mat-button mat-dialog-close type="button" style="margin:0px;"  ><mat-icon style="color:#F04741" class="material-icons-outlined" >check_box_outline_blank</mat-icon> Creator </button>
                          <button class="user-button" mat-button mat-dialog-close type="button" style="margin:0px 7px 0px 0px;"  ><mat-icon style="color:#F04741" [icIcon]="icDelete"></mat-icon> Unlink </button>
                        </div>
                      </div>
                      <div *ngIf="user.userRight === 2">
                        <div class="button-container">
                          <button class="user-button2" mat-button mat-dialog-close type="button" style="margin:0px;"  ><mat-icon style="color:#1f5bb6" class="material-icons-outlined" >check_box</mat-icon> Creator </button>
                          <button class="user-button" mat-button mat-dialog-close type="button" style="margin:0px 7px 0px 0px;"  ><mat-icon style="color:#F04741" [icIcon]="icDelete"></mat-icon> Unlink </button>
                        </div>
                      </div>
                    </div>
                    <!-- What the owner sees-->
                    <div *ngIf="userRight === 0">
                      <div *ngIf="user.userRight === 3">
                        <div class="button-container">
                          <button class="user-button2" mat-button mat-dialog-close type="button" style="margin:0px;"  ><mat-icon style="color:#F04741" class="material-icons-outlined" >check_box_outline_blank</mat-icon> Admin </button>
                          <button class="user-button2" mat-button mat-dialog-close type="button" style="margin:0px;"  ><mat-icon style="color:#F04741" class="material-icons-outlined" >check_box_outline_blank</mat-icon> Creator </button>
                          <button class="user-button" mat-button mat-dialog-close type="button" style="margin:0px 7px 0px 0px;"  ><mat-icon style="color:#F04741" [icIcon]="icDelete"></mat-icon> Unlink </button>
                        </div>
                      </div>
                      <div *ngIf="user.userRight === 2">
                        <div class="button-container">
                          <button class="user-button2" mat-button mat-dialog-close type="button" style="margin:0px;"  ><mat-icon style="color:#F04741" class="material-icons-outlined" >check_box_outline_blank</mat-icon> Admin </button>
                          <button class="user-button2" mat-button mat-dialog-close type="button" style="margin:0px;"  ><mat-icon style="color:#1f5bb6" class="material-icons-outlined" >check_box</mat-icon> Creator </button>
                          <button class="user-button" mat-button mat-dialog-close type="button" style="margin:0px 7px 0px 0px;"  ><mat-icon style="color:#F04741" [icIcon]="icDelete"></mat-icon> Unlink </button>
                        </div>
                      </div>
                      <div *ngIf="user.userRight === 1">
                        <div class="button-container">
                          <button class="user-button2" mat-button mat-dialog-close type="button" style="margin:0px;"  ><mat-icon style="color:#1f5bb6" class="material-icons-outlined" >check_box</mat-icon> Admin </button>
                          <button class="user-button" mat-button mat-dialog-close type="button" style="margin:0px 7px 0px 0px;"  ><mat-icon style="color:#F04741" [icIcon]="icDelete"></mat-icon> Unlink </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>


