:host {
  bottom: 0;
  display: block;
  width: 100%;
  z-index: var(--footer-z-index);
}

.footer {
  background: var(--footer-background);
  color: var(--footer-color);
  height: var(--footer-height);
  padding-left: var(--padding);
  padding-right: var(--padding);
  position: relative;
  z-index: var(--footer-z-index);
}

.mat-icon {
background-repeat: no-repeat;
display: inline-block;
color: red;
font-size: 14px;
padding-left: 2px;
padding-right: 0px;
}