<div class=" card p-6" style="text-align:center;" >
    <button class="mybutton" mat-raised-button color="primary">My Quests</button>
    <button class="mybutton" mat-raised-button color="primary" disabled>Advance the story</button>
    <button class="mybutton" mat-raised-button color="primary">Talk to the barman</button>
</div>
