<div class="bg-pattern w-full h-full" fxLayout="column" fxLayoutAlign="center center">
    <div  class="card overflow-hidden w-full max-w-xs">
        <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
            <div class="fill-current text-center">
                <img class="w-16" src="assets/img/demo/logo.png">
            </div>
        </div>

        <div class="text-center mt-4">
            <h2 class="title m-0">Recover Account</h2>
            <h4 class="body-2 text-secondary m-0">Check your mail for the recover code</h4>
        </div>

        <div [formGroup]="form" class="p-6 flex flex-col">
            <mat-form-field>
                <mat-label>E-Mail</mat-label>
                <input formControlName="email" matInput required>
                <mat-error *ngIf="form.get('email').hasError('required')">
                    We need an email to recover your password.
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Recover code</mat-label>
                <input formControlName="recover_code" matInput required>
                <mat-error *ngIf="form.get('recover_code').hasError('wrong_credentials')">
                    We need a code to recover your account.
                </mat-error>
<!--                <mat-error *ngIf="form.get('recover_code').hasError('wrong_credentials')">Your credentials did not match</mat-error>-->
            </mat-form-field>

            <mat-form-field fxFlex="grow">
                <mat-label>New password</mat-label>
                <input [type]="inputType" #passwordfield formControlName="password" matInput required>
                <button  (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
                    <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                    <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
                </button>
                <mat-error *ngIf="form.get('password').hasError('required')">We need a password to log you in</mat-error>
                <mat-error *ngIf="form.get('password').hasError('wrong_credentials')">Your credentials did not match</mat-error>
            </mat-form-field>

            <button (click)="send()" class="mt-2" color="primary" mat-raised-button type="button">
                Save
            </button>
        </div>
    </div>
</div>
