<div vexContainer>
    <div class="px-6 py-4 border-b flex items-center">
    <h2 class="title m-0">Team information</h2>
    </div>

    <div class="px-6 py-4 flex flex-col">
    <p class="mt-0 mb-4 text-secondary">
        We use this information to connect teams to your company. New accounts can use the company code or be added automatically via a domain-associated email.
    </p>

    <mat-form-field class="vex-flex-form-field" color="primary">
        
      <mat-label>Team name</mat-label>
        <div *ngIf="isNew === false">
          <div *ngIf="canEdit === false">
            <input matInput readonly value="Team Rocket">
          </div>
          <div *ngIf="canEdit === true">
            <input matInput value="Team Rocket">
          </div>
        </div>
        <div *ngIf="isNew === true">
          <input matInput >
        </div>
      </mat-form-field>

        <mat-form-field class="vex-flex-form-field" color="primary">
        <mat-label>Team code</mat-label>
        <input matInput readonly value="CDSE-CVSD-CSXD-BDSE-TKEV">
        </mat-form-field>
        <h2 class="title m-0">Members</h2>
        <div *ngIf="canEdit === false">
          <div class="user-list-container">
              <div class="user-row" *ngFor="let user of users">
                <div class="user-item">
                  <div class="user-icon-container">
                    <img [src]="user.iconUrl" alt="User Icon" class="user-icon">
                  </div>
                  <div class="user-details">
                    <div *ngIf="user.canEditTeam === true">
                      <p class="user-name"><b>{{ user.name }}</b> [Admin]</p>
                    </div>
                    <div *ngIf="user.canEditTeam === false">
                      <p class="user-name"><b>{{ user.name }}</b></p>
                    </div>
                    <p class="user-email">{{ user.email }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <div *ngIf="canEdit === true">
          <div class="user-list-container2">
              <div *ngFor="let user of users">
                <div class="user-item">
                  <div class="user-icon-container">
                    <img [src]="user.iconUrl" alt="User Icon" class="user-icon">
                  </div>
                  <div class="user-details">
                    <div *ngIf="user.canEditTeam === true">
                      <p class="user-name"><b>{{ user.name }}</b> [Admin]</p>
                    </div>
                    <div *ngIf="user.canEditTeam === false">
                      <p class="user-name"><b>{{ user.name }}</b></p>
                    </div>
                    <p class="user-email">{{ user.email }}</p>
                  </div>
                  <div class="button-container">
                    <div *ngIf="user.canEditTeam === false">
                      <button  class="user-button2" mat-button mat-dialog-close type="button" style="margin:0px;"  ><mat-icon style="color:#1f5bb6" class="material-icons-outlined" >edit</mat-icon> Give admin rights </button>
                      <button class="user-button" mat-button mat-dialog-close type="button" style="margin:0px 7px 0px 7px;"  ><mat-icon style="color:#F04741;" [icIcon]="icDelete"></mat-icon> Remove </button>
                    </div>
                    <div *ngIf="user.canEditTeam === true">
                      <button  disabled class="user-button3" mat-button mat-dialog-close type="button" style="margin:0px;"  ><mat-icon  class="material-icons-outlined" >edit</mat-icon> Give admin rights </button>
                      <button class="user-button" mat-button mat-dialog-close type="button" style="margin:0px 7px 0px 7px;"  ><mat-icon style="color:#F04741;" [icIcon]="icDelete"></mat-icon> Remove </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <mat-dialog-actions align="end">
          <div *ngIf="canEdit === false">
            <button mat-button mat-dialog-close type="button">EXIT</button>
          </div>
          <div *ngIf="canEdit === true">
            <button mat-button mat-dialog-close type="button">CANCEL</button>
            <button color="primary" mat-raised-button type="submit">SAVE CHANGES</button>
          </div>
          </mat-dialog-actions>
</div>


