<vex-secondary-toolbar [crumbs]="['Blank Page']" current="My quests">
    <vex-breadcrumbs [crumbs]="['Overview']" class="flex-auto"></vex-breadcrumbs>
    <button class="ml-2" color="primary" mat-icon-button type="button">
        <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>
</vex-secondary-toolbar>

<div class="p-gutter"
     gdColumns="1fr 1fr 1fr 1fr"
     gdColumns.lt-md="1fr 1fr"
     gdColumns.lt-sm="1fr"
     gdGap="16px"
     vexContainer>

    <vex-widget-quest-main gdColumn="1 / 4" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1"></vex-widget-quest-main>
    <vex-widget-quest-side gdColumn="4 / 6" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1"></vex-widget-quest-side>
</div>
