<vex-secondary-toolbar current="Products">

    <vex-breadcrumbs [crumbs]="['Overview']" class="flex-auto"></vex-breadcrumbs>
    <button class="ml-2" color="primary" mat-icon-button type="button">
        <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>
</vex-secondary-toolbar>

<div class="p-gutter"
     gdColumns="1fr 1fr 1fr 1fr"
     gdColumns.lt-md="1fr 1fr"
     gdColumns.lt-sm="1fr"
     gdGap="16px"
     vexContainer>
<!--    <vex-widget-assistant gdColumn="1 / 3" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1"></vex-widget-assistant>-->

<!--    <vex-widget-quick-line-chart [icon]="icPageView"-->
<!--                                 [series]="pageViewsSeries"-->
<!--                                 iconClass="text-primary bg-primary-light"-->
<!--                                 gdColumn.lt-sm="1"-->
<!--                                 label="Page Views"-->
<!--                                 value="42.0k"></vex-widget-quick-line-chart>-->

<!--    <vex-widget-quick-line-chart [icon]="icPageView"-->

<!--                                 [series]="uniqueUsersSeries"-->
<!--                                 iconClass="text-orange bg-orange-light"-->
<!--                                 gdColumn.lt-sm="1"-->
<!--                                 label="Customers"-->
<!--                                 value="92.4k"></vex-widget-quick-line-chart>-->

<!--    <vex-widget-table [columns]="tableColumns"-->
<!--                      [data]="tableData"-->
<!--                      class="w-full overflow-auto shadow" gdColumn="3 / -1"-->
<!--                      gdColumn.lt-md="1 / -1"-->
<!--                      gdColumn.lt-sm="1"></vex-widget-table>  -->

    <vex-widget-table [columns]="tableColumns"
                      [data]="tableData"
                      class="w-full overflow-auto shadow" gdColumn="3 / -1"
                      gdColumn="1 / -1"
                      gdColumn.lt-sm="1"></vex-widget-table>

</div>



<!--[options]="uniqueUsersOptions"-->