<vex-secondary-toolbar [crumbs]="['Blank Page']" current="Locations">
    <vex-breadcrumbs [crumbs]="['Overview']" class="flex-auto"></vex-breadcrumbs>
    <button class="ml-2" color="primary" mat-icon-button type="button">
        <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>
</vex-secondary-toolbar>

<div class="p-gutter"
     gdColumns="1fr 1fr 1fr 1fr"
     gdColumns.lt-md="1fr 1fr"
     gdColumns.lt-sm="1fr"
     gdGap="16px"
     vexContainer>
    <!--    <img src="assets/img/illustrations/checklist.svg" style="height: 168px; width: 152px">-->
    <vex-widget-all-locations gdColumn="1 / 6" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1"></vex-widget-all-locations>
</div>
