<div class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/demo/logo.png">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Register for an account</h2>
      <h4 class="body-2 text-secondary m-0">Simply fill out the form below</h4>
    </div>

    <div [formGroup]="form" #formcontrol="ngForm" class="p-6" fxLayout="column" fxLayoutGap="16px">
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>Name</mat-label>
          <input  #namefield formControlName="name" matInput required>
          <mat-error *ngIf="form.get('name')?.hasError('required')">It is okay te be shy, but we need your name</mat-error>
          <mat-error *ngIf="form.get('name')?.hasError('incorrect')">It is okay te be shy, but we need your name</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="grow">
          <mat-label>E-Mail</mat-label>
          <input formControlName="email" matInput required>
          <mat-error *ngIf="form.get('email')?.hasError('required')">We need an email address to create a new account</mat-error>
          <mat-error *ngIf="form.get('email')?.hasError('incorrect')">We need an email address to create a new account</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="grow">
          <mat-label>Password</mat-label>
          <input [type]="inputType" formControlName="password" matInput required>
          <mat-error *ngIf="form.get('password')?.hasError('required')">We need a password to create a new account</mat-error>
          <mat-error *ngIf="form.get('password')?.hasError('toShort')">your password needs to have at least 8 characters</mat-error>
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field fxFlex="grow">
          <mat-label>Password (Confirm)</mat-label>
          <input [type]="inputType" formControlName="passwordConfirm" matInput required>
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
          </button>
          <mat-error *ngIf="form.get('passwordConfirm')?.hasError('required')">Please repeat your password from above</mat-error>
          <mat-hint>Please repeat your password from above</mat-hint>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-checkbox #termsAndConditions class="caption">I accept the <a>terms and conditions.</a></mat-checkbox>
      </div>
      <button  [disabled]="!formcontrol.form.valid || !termsAndConditions.checked"  (click)="send()" color="primary" mat-raised-button type="button">
        CREATE ACCOUNT
      </button>
      <p class="text-secondary text-center">
        Already have an account?<br/>
        <a [routerLink]="['/login']">Sign in here</a>
      </p>
    </div>
  </div>
</div>
