
.locationImage {
    height: 150px;
    margin-top: -24px;
    margin-left: -24px;
    float: left;
//     z-index:0;


}
@media (max-width:959px) {
 .quotes{
    display: none;
 }

 }

.quotes{
    height: 100px;
    width: 360px;
    text-align: center;
    float: right;
    margin-right: 9%;
    margin-top: 24px;
}

.locationBlock {
    background-color: red;
}

.locationHeader {
    position:absolute;
    z-index:1;
    color: white;
}

