<div>
    <div class=" card p-6" style="min-height: 150px; margin-bottom: 15px;" >
        <div class="quotes">
            <p>"The only thing better than finding a great bar is finding a great bar that's close to home."</p><p><b>~ Andrea</b></p>
        </div>
        <h2 class="m-0 title locationHeader" >The Green Dragon</h2>
        <div class="thumbnail ">
            <span class=" faded faded-wide faded-right"><img class="locationImage" src="assets/img/locations/bar.png" /></span>
        </div>
    </div>

    <div class=" card p-6" style="min-height: 150px; margin-bottom: 15px;" >
        <div class="quotes">
            <p>"You are not welcome here. This is the domain of the beasts, the spirits, and the wild things"</p><p><b>~ Unknown voice</b></p>
        </div>
        <h2 class="m-0 title locationHeader" >The Forbidden Forest</h2>
        <div class="thumbnail ">
            <span class=" faded faded-wide faded-right"><img class="locationImage" src="assets/img/locations/forrest.png" /></span>
        </div>
    </div>

    <div class=" card p-6" style="min-height: 150px; margin-bottom: 15px;" >
        <div class="quotes">
            <p>"There's something about giants that just makes them so fascinating. Here is where to find them."</p><p><b>~ Holo</b></p>
        </div>
        <h2 class="m-0 title locationHeader" >The Realm of Giants</h2>
        <div class="thumbnail ">
            <span class=" faded faded-wide faded-right"><img class="locationImage" src="assets/img/locations/giants_rest.png" /></span>
        </div>
    </div>

    <div class=" card p-6" style="min-height: 150px; margin-bottom: 15px;" >
        <div class="quotes">
            <p>"Not knowing where you are can be a liberating experience."</p><p><b>~ Rebecca Solnit</b></p>
        </div>
        <h2 class="m-0 title locationHeader" >Not discovered yet</h2>
        <div class="thumbnail ">
            <span class=" faded faded-wide faded-right"><img class="locationImage" src="assets/img/locations/unknown.png" /></span>
        </div>
    </div>

    <div class=" card p-6" style="min-height: 150px; margin-bottom: 15px;" >
        <div class="quotes">
            <p>"If you don't know where you're going, any road will take you there"</p><p><b>~ Lewis Carrollt</b></p>
        </div>
        <h2 class="m-0 title locationHeader" >Not discovered yet</h2>
        <div class="thumbnail ">
            <span class=" faded faded-wide faded-right"><img class="locationImage" src="assets/img/locations/unknown.png" /></span>
        </div>
    </div>

    <div class=" card p-6" style="min-height: 150px;" >
        <div class="quotes">
            <p>"The world is a book and those who do not travel read only one page."</p><p><b>~ Unknown</b></p>
        </div>
        <h2 class="m-0 title locationHeader" >Not discovered yet</h2>
        <div class="thumbnail ">
            <span class=" faded faded-wide faded-right"><img class="locationImage" src="assets/img/locations/unknown.png" /></span>
        </div>
    </div>
</div>
