@import "https://fonts.googleapis.com/icon?family=Material+Icons";

$color-chat: #69c319;
$color-health: #69c319;
$color-stamina: #198dc3;
$color-strength: #c31919;
$color-intelligence: #c3c119;
$color-love: #c31919;
$color-crafting: #19c3b9;
$color-work: orange;


.characterimg {
    border-radius: 20px;
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
    margin-top: 10px;
}



.mat-progress-bar-fill::after {
   // background-color: #1E457C;
}

.mat-progress-bar-buffer {
     background: #bbc6fe;
 }

.setwidth{
 width:80%;
}

.setImageWidth {
 min-width: 80px;
}


@media (max-width:959px) {
 .hideMobile{
    display: none;
    }
 }

.centerRow {
  display: flex;
  align-items: top;
  white-space: pre-wrap;
  margin-bottom: 10px;
  margin-top: 10px;
}

.bg-health {
  color: $color-health;

}

.bg-stamina {
  color: $color-stamina;
}

.bg-strength {
  color: $color-strength;
}

.bg-intelligence {
  color: $color-intelligence;
}

.bg-love {
  color: $color-love;
}

.bg-crafting {
  color: $color-crafting;
}

.bg-work {
  color: $color-work;
}
.bg-chat {
  color: $color-stamina;
}
