<div class="card p-6" >
    <h2 class="m-0 title" >Main quests</h2>

<!--    <table mat-table [dataSource]="dataSource" style="width:100%; margin-top: -30px;" >-->

<!--        &lt;!&ndash;- Note that these columns can be defined in any order.-->
<!--              The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

<!--        &lt;!&ndash; Icon Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="icon" style="width:5%">-->
<!--            <th stymat-header-cell *matHeaderCellDef></th>-->
<!--            <td class="setImageWidth hideMobile"mat-cell *matCellDef="let element" >-->
<!--                <div class="centerRow" *ngIf="element.icon === 'Health'" ><img src="assets/img/characters/1.png" class="characterimg"></div>-->
<!--                <div class="centerRow" *ngIf="element.icon === 'Stamina'" ><img src="assets/img/characters/2.png" class="characterimg"></div>-->
<!--                <div class="centerRow" *ngIf="element.icon === 'Strength'" ><img src="assets/img/characters/3.png" class="characterimg"></div>-->
<!--                <div class="centerRow" *ngIf="element.icon === 'Intelligence'" ><img src="assets/img/characters/4.png" class="characterimg"></div>-->
<!--            </td>-->
<!--        </ng-container>-->


<!--        <ng-container matColumnDef="platform">-->
<!--            <th mat-header-cell *matHeaderCellDef></th>-->
<!--            <td class="setwidth"mat-cell *matCellDef="let i of dataSource" >-->

<!--                <div class="centerRow">-->

<!--                    <p>{{i.description}}</p>-->
<!--                </div>-->
<!--                <div class="centerRow">-->
<!--                    <p><b>Reward:</b>&nbsp;</p>-->
<!--                    <span *ngIf="i.increase[0] == true">-->
<!--                        <p class="bg-intelligence"><i>[money]&nbsp;</i></p>-->
<!--                    </span>-->
<!--                    <span *ngIf="i.increase[1] == true">-->
<!--                        <p class="bg-health"><i>[health]&nbsp;</i></p>-->
<!--                    </span>-->
<!--                    <span *ngIf="i.increase[2] == true">-->
<!--                        <p class="bg-stamina"><i>[stamina]&nbsp;</i></p>-->
<!--                    </span>-->
<!--                    <span *ngIf="i.increase[3] == true">-->
<!--                        <p class="bg-strength"><i>[strength]&nbsp;</i></p>-->
<!--                    </span>-->
<!--                    <span *ngIf="i.increase[4] == true">-->
<!--                        <p class="bg-intelligence"><i>[intelligence]&nbsp;</i></p>-->
<!--                    </span>-->
<!--                    <span *ngIf="i.increase[5] == true">-->
<!--                        <p class="bg-love"><i>[love]&nbsp;</i></p>-->
<!--                    </span>-->
<!--                    <span *ngIf="i.increase[6] == true">-->
<!--                        <p class="bg-crafting"><i>[crafting]&nbsp;</i></p>-->
<!--                    </span>-->
<!--                    <span *ngIf="i.increase[7] == true">-->
<!--                        <p class="bg-work"><i>[work]&nbsp;</i></p>-->
<!--                    </span>-->
<!--                </div>-->

<!--            </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Name Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="addButton">-->
<!--            <th mat-header-cell *matHeaderCellDef></th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <mat-checkbox color="primary" [checked]="false"></mat-checkbox>-->
<!--            </td>-->
<!--        </ng-container>-->

<!--        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--    </table>-->
    <table mat-table [dataSource]="dataSource" style="width:100%; margin-top: -30px;" >

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Icon Column -->
        <ng-container matColumnDef="icon" style="width:5%">
            <th stymat-header-cell *matHeaderCellDef></th>
            <td class="setImageWidth hideMobile"mat-cell *matCellDef="let element" >
                <div class="centerRow" *ngIf="element.avatar === 1" ><img src="assets/img/characters/1.png" class="characterimg"></div>
                <div class="centerRow" *ngIf="element.avatar === 2" ><img src="assets/img/characters/2.png" class="characterimg"></div>
                <div class="centerRow" *ngIf="element.avatar === 3" ><img src="assets/img/characters/3.png" class="characterimg"></div>
                <div class="centerRow" *ngIf="element.avatar === 4" ><img src="assets/img/characters/4.png" class="characterimg"></div>
            </td>
        </ng-container>


        <ng-container matColumnDef="platform">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="setwidth"mat-cell *matCellDef="let i of dataSource" >

                <div class="centerRow">

                    <p>{{i.description}}</p>
                </div>
                <div class="centerRow">
                    <p><b>Reward:</b>&nbsp;</p>
                    <span *ngIf="i.rewardone == 0 || i.rewardtwo == 0">
                        <p class="bg-intelligence"><i>[money]&nbsp;</i></p>
                    </span>
                    <span *ngIf="i.rewardone == 1 || i.rewardtwo == 1">
                        <p class="bg-health"><i>[health]&nbsp;</i></p>
                    </span>
                    <span *ngIf="i.rewardone == 2 || i.rewardtwo == 2">
                        <p class="bg-stamina"><i>[stamina]&nbsp;</i></p>
                    </span>
                    <span *ngIf="i.rewardone == 3 || i.rewardtwo == 3">
                        <p class="bg-strength"><i>[strength]&nbsp;</i></p>
                    </span>
                    <span *ngIf="i.rewardone == 4 || i.rewardtwo == 4">
                        <p class="bg-intelligence"><i>[intelligence]&nbsp;</i></p>
                    </span>
                    <span *ngIf="i.rewardone == 5 || i.rewardtwo == 5">
                        <p class="bg-love"><i>[love]&nbsp;</i></p>
                    </span>
                    <span *ngIf="i.rewardone == 6 || i.rewardtwo == 6">
                        <p class="bg-crafting"><i>[crafting]&nbsp;</i></p>
                    </span>
                    <span *ngIf="i.rewardone == 7 || i.rewardtwo == 7">
                        <p class="bg-work"><i>[work]&nbsp;</i></p>
                    </span>
                </div>

            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="addButton">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox color="primary" [checked]="false"></mat-checkbox>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>





</div>
