<form (ngSubmit)="save()" [formGroup]="form">

    <div>
      <div>
        <div class="header">
          <h2 class="body-2 font-medium m-0 text-secondary">
            <ic-icon [icon]="icDescription" class="ltr:mr-4 rtl:ml-4" fxFlex="none" size="24px"></ic-icon>
            <span>DESCRIPTION</span>
          </h2>
          <div class="icons">
            <button mat-button mat-dialog-close type="button" style="margin:0px;" (click)="deletePost()" ><mat-icon style="color:#F04741" [icIcon]="icDelete"></mat-icon> Delete </button>
            <button *ngIf="!isActionPointRow()" mat-button mat-dialog-close type="button" (click)="generateActionPoint()" ><mat-icon  style="color:darkblue" [icIcon]="icInsertComment"></mat-icon> Generate action point </button>
          </div>
        </div>
      </div>
  </div>

  <mat-dialog-content class="pb-6 content">
    <div class=" rtl:mr-10 mt-3" fxLayout="column">
      <mat-form-field appearance="outline" class="vex-dense-form-field body-1">
        <textarea cdkFocusInitial  rows="4"
                  formControlName="description"
                  matInput
                  matTextareaAutosize
                  placeholder="Add a description ..."></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button color="primary" mat-raised-button type="submit">SAVE</button>
  </mat-dialog-actions>
</form>


<mat-menu #attachmentMenu="matMenu">
  <ng-template let-attachment="attachment" matMenuContent>
    <button (click)="makeCover(attachment)" mat-menu-item>
      <mat-icon [icIcon]="icImage"></mat-icon>
      <span>Make Cover</span>
    </button>

    <button (click)="remove(attachment)" mat-menu-item>
      <mat-icon [icIcon]="icDelete"></mat-icon>
      <span>Remove</span>
    </button>
  </ng-template>
</mat-menu>
