.members {
  .avatar {
    border: 2px solid var(--background-card);
    box-sizing: border-box;
    height: 36px;
    margin-right: -8px;
    margin-top: var(--padding-4);
    width: 36px;

    &:last-child {
      margin-right: 0;
    }
  }
}

/* Replace .your-component-class with the appropriate class or component selector */
.your-component-class textarea.mat-input-element {
  min-height: auto; /* Reset min-height to auto for the mat-input element */
  height: auto; /* Reset height to auto */
  overflow-y: hidden; /* Hide vertical scrollbar */
  resize: none; /* Disable textarea resizing by user */
}

/* Apply the minimum height only when cdkAutosizeMinRows is not met */
.your-component-class textarea.mat-input-element:after {
  content: '\00a0'; /* Add a non-breaking space character */
  display: block;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  gap: 16px; /* Adjust the gap as needed */
}


.labels {

  .label {
    border-radius: var(--border-radius);
    font: var(--font-caption);
    height: 32px;
    line-height: 32px;
    margin-top: var(--padding-4);
    min-width: 32px;
    padding-left: var(--padding-8);
    padding-right: var(--padding-8);
    user-select: none;

    &:last-of-type {
      padding: 0;
    }
  }
}

.content {
  max-height: 40vh;
}

@screen sm {
  .content {
    max-height: 50vh;
  }
}

.icons {
  gap: 0px;
}
