<form (ngSubmit)="save()">
    <!-- <form (ngSubmit)="save()" [formGroup]="form"> -->
    <div>
      <div>
        <div class="header">
          <h2 class="body-2 font-medium addSpace">
            <!-- <ic-icon [icon]="icDescription" class="ltr:mr-4 rtl:ml-4" fxFlex="none" size="24px"></ic-icon> -->
            <span><mat-icon class="material-icons-outlined">security</mat-icon> &nbsp; Trust, but verify. &nbsp;<mat-icon class="material-icons-outlined">security</mat-icon> </span>
          </h2>
          <p class="body-2 font-medium m-0 text-secondary">To join this team, we've enabled a security feature that requires a team code for access.
            Please provide the team code to become a member.
            
          </p>
          <!-- <div class="icons">
            <button mat-button mat-dialog-close type="button" style="margin:0px;" (click)="deletePost()" ><mat-icon style="color:#F04741" [icIcon]="icDelete"></mat-icon> Delete </button>
          </div> -->
        </div>
      </div>
  </div>

  <mat-dialog-content class="pb-6 content">
    <div class=" rtl:mr-10 mt-3" fxLayout="column">
      <mat-form-field class="vex-flex-form-field"  color="primary">
        <mat-label>Team code</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button color="primary" mat-raised-button type="submit">NEXT</button>
  </mat-dialog-actions>
</form>


<mat-menu #attachmentMenu="matMenu">
  <ng-template let-attachment="attachment" matMenuContent>
    <!-- <button (click)="makeCover(attachment)" mat-menu-item>
      <mat-icon [icIcon]="icImage"></mat-icon>
      <span>Make Cover</span>
    </button>

    <button (click)="remove(attachment)" mat-menu-item>
      <mat-icon [icIcon]="icDelete"></mat-icon>
      <span>Remove</span>
    </button> -->
  </ng-template>
</mat-menu>