<!--<div class="card p-6 headercard" >-->
<!--    <h2 class="m-0 title" >Need help competing tasks?</h2>-->
<!--    <span class=" faded faded-wide faded-right "><img class="bannerimg" src="assets/img/bg/bg1.jpeg" /></span>-->
<!--</div>-->


<!--<h2 class="m-0 title" >Need help competing tasks?</h2>-->
<!--<div class="thumbnail ">-->
<!--    <span class=" faded faded-wide faded-right"><img class="locationImage" src="assets/img/bg/bg1.jpeg" /></span>-->
<!--</div>-->

<div class=" card p-6 headercard" >

            <div class="quotes">
                <h1 class="headerh1">GAMIFY YOUR LIFE</h1>
                <h2 class="headerh2">Level up by doing your tasks</h2>
            </div>
<!--    <h2 class="m-0 title locationHeader" >The Green Dragon</h2>-->
<!--    <div class="thumbnail ">-->
<!--        <span class=" faded faded-wide faded-right"><img class="locationImage" src="assets/img/bg/bg1.jpeg" /></span>-->
<!--    </div>-->
<!--    <div>-->
<!--        <div class="quotes">-->
<!--            <h1 class="headerh1">"The only thing better than finding a great bar is finding a great bar that's close to home."</h1>-->
<!--        </div>-->
<!--    </div>-->
</div>