
.headercard {

    border-radius: 10px;
    background-image: url("'../../../../../assets/img/bg/bg1.jpeg");
    height: 550px;

//     padding: 0px;
//     margin: 0px;
}

.bannerimg {
    //border-radius: 20px;
    //margin-bottom: 10px;
    margin-top: 10px;
}


.locationImage {
    border-radius: 20px;
//     float: left;
     z-index:-1;


}
@media (max-width:959px) {
//  .quotes{
//     display: none;
//  }

 }

.quotes{
     position: relative;
    top: 37%;
    text-align: center;
    margin-left: -24px;
    margin-right: -24px;
//     margin-left: 200px;
    z-index:1;
}

.headerh1 {
    color: white;
    font-weight: bold;
    font-size: 80px;
    letter-spacing: 2px;
     line-height: 1;
     background-color: rgba(0,0,0,0.6);
     padding-top: 10px;
     padding-bottom: 5px;
}

.headerh2 {
    color: white;
     padding-bottom: 10px;
    letter-spacing: 2px;
     line-height: 1;
     background-color: rgba(0,0,0,0.6);
}

.locationBlock {
    background-color: red;
}

.locationHeader {
    position:relative;
    z-index:1;
    color: white;
}