<!--<div class="card p-6" fxLayout="row" fxLayout.xs="column">-->
<!--    <h2 class="m-0 title mb-6">Social media connections</h2>-->

<!--    <div class="card overflow-auto w-full" fxLayout="column">-->
<!--        <div class="border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">-->
<!--            <h2 class="m-0 title" fxFlex="auto">Available platforms</h2>-->
<!--            <h1 class="display-1 m-0">Cinematic Mountain View</h1>-->
<!--            <h3 class="title mt-0 text-secondary">Example Page Layout</h3>-->
<!--        </div>-->
<!--    </div>-->

<div class="card p-6" >
        <h2 class="m-0 title" >Available platforms</h2>

        <table mat-table [dataSource]="dataSource" style="width:100%; margin-top: -30px;" >

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Icon Column -->
            <ng-container matColumnDef="icon" style="width:5%">
                <th stymat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" >
                    <mat-icon *ngIf="element.icon === 'icFacebook'" color="#4267B2" [icIcon]="icFacebook"></mat-icon>
                    <mat-icon *ngIf="element.icon === 'icInstagram'" color="#C13584" [icIcon]="icInstagram"></mat-icon>
                    <mat-icon *ngIf="element.icon === 'icTwitter'" color="#1DA1F2" [icIcon]="icTwitter"></mat-icon>
                    <mat-icon *ngIf="element.icon === 'icDiscord'" color="#5865F2" [icIcon]="icDiscord"></mat-icon>
                    <mat-icon *ngIf="element.icon === 'icYoutube'" color="#FF0000" [icIcon]="icYoutube"></mat-icon>
                </td>
            </ng-container>

            <!-- Platform Column -->
            <ng-container matColumnDef="platform">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"> {{element.platform}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="addButton">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button class="ml-0" color="#4267B2" mat-icon-button type="button">
                        <mat-icon [icIcon]="icAdd"></mat-icon>  <!-- #4267B2 -->
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

</div>




<!--    <table [dataSource]="dataSource" class="w-full overflow-auto" mat-table matSort>-->

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Model Properties Column -->
<!--        <ng-container *ngFor="let column of columns">-->
<!--            <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">-->
<!--                <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.label }}</th>-->
<!--                <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>-->
<!--            </ng-container>-->

<!--            <ng-container *ngIf="column.type === 'badge'" [matColumnDef]="column.property">-->
<!--                <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.label }}</th>-->
<!--                <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>-->
<!--                    <div *ngIf="row[column.property] === 'ready'"-->
<!--                         class="w-3 h-3 rounded-full bg-green cursor-pointer"-->
<!--                         matTooltip="Ready to ship"></div>-->
<!--                    <div *ngIf="row[column.property] === 'pending'"-->
<!--                         class="w-3 h-3 rounded-full bg-orange cursor-pointer"-->
<!--                         matTooltip="Pending Payment"></div>-->
<!--                    <div *ngIf="row[column.property] === 'warn'"-->
<!--                         class="w-3 h-3 rounded-full bg-red cursor-pointer"-->
<!--                         matTooltip="Missing Payment"></div>-->
<!--                </td>-->
<!--            </ng-container>-->

<!--            <ng-container  *ngIf="column.type === 'action'" [matColumnDef]="column.property">-->
<!--                <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.label }} </th>-->
<!--                <td *matCellDef="let row"  [ngClass]="column.cssClasses" mat-cell>-->
<!--                    <button mat-icon-button type="button">-->
<!--                        <mat-icon [icIcon]="icFacebook" class="text-secondary"></mat-icon>-->
<!--                    </button>-->
<!--                    <button mat-icon-button type="button">-->
<!--                        <mat-icon [icIcon]="icEdit" class="text-secondary"></mat-icon>-->
<!--                    </button>-->
<!--                    <button mat-icon-button type="button">-->
<!--                        <mat-icon [icIcon]="icDelete" class="text-secondary"></mat-icon>-->
<!--                    </button>-->
<!--                </td>-->
<!--            </ng-container>-->
<!--        </ng-container>-->


<!--        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>-->
        <!--suppress UnnecessaryLabelJS -->
<!--        <tr *matRowDef="let row; columns: visibleColumns;" mat-row></tr>-->
<!--    </table>-->


<!--</div>-->
