<div *ngIf="isVisible == true">
    <div class=" card p-6" style="min-height: 150px;" >
        <div class="quotes">
            <p>"The only thing better than finding a great bar is finding a great bar that's close to home."</p><p><b>~ Andrea</b></p>
        </div>
        <h2 class="m-0 title locationHeader" >The Green Dragon</h2>
        <div class="thumbnail ">
            <span class=" faded faded-wide faded-right"><img class="locationImage" src="assets/img/locations/bar.png" /></span>
        </div>
    </div>
</div>

