.user-list-container {
    height: calc(100vh - 450px);
    overflow-y: auto; /* Enable vertical scrolling when content exceeds the height */
  }
  

  .user-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .user-icon-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .user-icon {
    width: 50px; /* Set the width to 80px */
    height: 50px; /* Set the height to 80px */
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 10px; /* Apply a 20px border radius */
    object-fit: cover; /* Ensure the image covers the entire container */
  }
  
  .user-item {
    position: relative; /* Ensure the child button is positioned relative to this element */
  }
  
  .user-button {
    display: none; /* Initially hide the button */
    position: absolute; /* Position the button absolutely within the user-item */
    top: 50%; /* Position it vertically in the middle */
    left: 100%; /* Position it to the right of the user-item */
    transform: translate(-220%, -50%); /* Center it precisely */
  }

  .user-button2 {
    display: none; /* Initially hide the button */
    position: absolute; /* Position the button absolutely within the user-item */
    top: 50%; /* Position it vertically in the middle */
    left: 100%; /* Position it to the right of the user-item */
    transform: translate(-110%, -50%); /* Center it precisely */
  }
  
  .user-item:hover .user-button2 {
    display: block; /* Show the button when user-item is hovered */
  }

  .user-item:hover .user-button {
    display: block; /* Show the button when user-item is hovered */
  }

  
  .user-details {
    flex: 1;
  }

  .user-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease;
    border-radius: 10px; 
  }

  .user-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px; 
  }

  .user-button2:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px; 
  }

  .button-container{
    margin-right: 5px;
  }

  
  /* Additional styling for user details (customize as needed) */
  .user-name {
    font-weight: bold;
    margin: 0;
  }
  
  .user-email {
    margin: 0;
  }

  .mybutton {
    min-width: 100px;
}
  