<vex-secondary-toolbar [crumbs]="['Blank Page']" current="Options">
    <vex-breadcrumbs [crumbs]="['Teams']" class="flex-auto"></vex-breadcrumbs>
    <button class="ml-2" color="primary" mat-icon-button type="button">
    </button>
</vex-secondary-toolbar>

<!-- <div class="mt-4 flex flex-col sm:flex-row"  fxLayoutAlign="start center" vexContainer>
  <h1 class="title m-0">Options</h1>
  <span fxFlex></span>
</div> -->

<div class="p-gutter"
     gdColumns="1fr"
     gdColumns.lt-md="1fr 1fr"
     gdColumns.lt-sm="1fr"
     gdGap="16px"
     vexContainer>
        <div class="mt-1 flex flex-col sm:flex-row gap-6">
            <div @fadeInUp class="card flex-auto">
              <!-- Don't show the create button if rights are 3 -->
              <div *ngIf="userRight === 3">
                <div class="px-6 py-4 border-b flex items-center">
                    <h2 class="title m-0">My Teams</h2>
                </div>
              </div>
              <!-- Show Create team button if rights are 2 or below -->
              <div *ngIf="userRight <= 2">
                <div class="px-6 py-4 border-b flex items-center" style="padding: 11px 24px;">
                    <h2 class="title m-0">My Teams</h2>
                    <div class="button-container" style="flex-grow: 1; display: flex; justify-content: flex-end; padding: 0px; margin: 0px;">
                      <button  (click)="createTeam()"  mat-button mat-dialog-close type="button" style="margin:0px;"  >
                        <mat-icon class="material-icons-outlined" style="color:#1f5bb6" >group_add</mat-icon> Create team</button>
                    </div>
                </div>
              </div>


                  <div class="px-6 py-4 flex flex-col">
                    <p class="mt-0 mb-4 text-secondary">
                      All teams where you have access to are shown below. You can see all available options by hovering over the disired team.
                    </p>    
                
                    <div class="user-list-container">
                        <div *ngFor="let user of teams" class="user-item">
                          <div class="user-icon-container">
                            <img [src]="user.iconUrl" alt="User Icon" class="user-icon">
                          </div>
                          <div class="user-details">
                            <p class="user-name">{{ user.name }}</p>
                            <p class="user-email">{{ user.email }}</p>
                          </div>
                          <div class="button-container">
                            <button class="user-button2" mat-button mat-dialog-close type="button" style="margin:0px;"  ><mat-icon style="color:#F04741" [icIcon]="icDelete"></mat-icon> Leave </button>
                            <button (click)="view()" class="user-button" mat-button mat-dialog-close type="button" style="margin:0px;"  ><mat-icon style="color:#1f5bb6" class="material-icons-outlined" >remove_red_eye</mat-icon> View </button>
                          </div>
                        </div>
                      </div>
                  </div>
            </div>
        
            <div @fadeInUp class="card flex-auto" style="min-width: 50%;">
              <div class="px-6 py-4 border-b flex items-center">
                <h2 class="title m-0">Other Teams</h2>
              </div>
            
              <div class="px-6 py-4 flex flex-col">
                <p class="mt-0 mb-4 text-secondary">
                  All teams are shown below. You can search for specific teams by name and team-code.
                </p>
                <mat-form-field class="vex-flex-form-field"  color="primary">
                  <mat-label>Search user</mat-label>
                  <input matInput [(ngModel)]="searchTerm" (input)="onSearch()">
                </mat-form-field>
            

            
                <div class="user-list-container">
                  <div *ngFor="let user of filteredUsers" class="user-item">
                    <div class="user-icon-container">
                      <img [src]="user.iconUrl" alt="User Icon" class="user-icon">
                    </div>
                    <div class="user-details">
                      <p class="user-name">{{ user.name }}</p>
                      <p class="user-email">{{ user.email }}</p>
                    </div>
                    <div class="button-container">
                      <button  (click)="open()"  class="user-button2" mat-button mat-dialog-close type="button" style="margin:0px;"  >
                        <mat-icon class="material-icons-outlined" style="color:#1f5bb6" >person_add</mat-icon> Join team</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>


