<vex-secondary-toolbar [crumbs]="['Blank Page']" current="Dashboard">
    <vex-breadcrumbs [crumbs]="['Overview']" class="flex-auto"></vex-breadcrumbs>
    <button class="ml-2" color="primary" mat-icon-button type="button">
        <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>
</vex-secondary-toolbar>

<div class="p-gutter"
     gdColumns="1fr 1fr 1fr 1fr"
     gdColumns.lt-md="1fr 1fr"
     gdColumns.lt-sm="1fr"
     gdGap="16px"
     vexContainer>
    <!--    <img src="assets/img/illustrations/checklist.svg" style="height: 168px; width: 152px">-->
    <vex-widget-player-location gdColumn="1 / 6" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1"></vex-widget-player-location>
    <div gdColumn="1 / 3" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1" >
        <vex-widget-level-status ></vex-widget-level-status> <br>
        <vex-widget-quest-board ></vex-widget-quest-board>
    </div>
    <vex-widget-party-status gdColumn="3 / 6" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1"></vex-widget-party-status>
</div>