.characterimg {
    border-radius: 20px;
    height: 110px;
    width: 110px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    border: 3px solid white;
}

.maintext {
    //background-color: rgba(0,0,0,1);
    background-color: #1a202e;
    padding: 5px;
    border-radius: 10px;

}

.images {
    width: 100%;
    height: 130px;
    text-align:center;

}

.headercard {
text-align:center;
    border-radius: 10px;
    min-height: 500px;
    background-image: url("'../../../../../../assets/img/bg/bg4.jpeg");

//     padding: 0px;
//     margin: 0px;
}
