<!--<div class=" card p-6" style="text-align:center;" >-->
<div class=" card p-6 headercard" >
    <h2 class="m-0 title maintext" >Follow the story of team Holo</h2><br>
    <img src="assets/img/characters/1.png" class="characterimg">
    <img src="assets/img/characters/2.png" class="characterimg">
    <img src="assets/img/characters/3.png" class="characterimg">
    <img src="assets/img/characters/4.png" class="characterimg">
</div>

<!--<img src="assets/img/characters/1.png" class="characterimg">-->
<!--<img src="assets/img/characters/2.png" class="characterimg">-->
<!--<img src="assets/img/characters/3.png" class="characterimg">-->
<!--<img src="assets/img/characters/4.png" class="characterimg">-->