<div *ngIf="board$ | async as board" class="h-full w-full overflow-hidden" fxLayout="column">

  <div class="py-4 px-gutter" fxFlex="none" fxLayout="row" fxLayoutAlign="start center" vexContainer>
    <h1 class="title m-0">Retrospective</h1>
    <span fxFlex></span>
  </div>

  <div (cdkDropListDropped)="dropList($event)"
       @stagger
       [cdkDropListData]="board.children"
       cdkDropList
       cdkDropListOrientation="horizontal"
       class="px-gutter pb-gutter min-h-0 overflow-x-auto"
       fxFlex="auto"
       fxLayout="row"
       fxLayoutAlign="start start"
       fxLayoutGap="24px"
       vexContainer>
    <div *ngFor="let list of board.children; trackBy: trackById"
         @fadeInUp
         [cdkDragData]="list"
         cdkDrag
         fxFlexFill
         cdkDropListGroup
         class="rounded bg-app-bar overflow-hidden max-h-full w-full max-w-xxs"
         fxFlex="none"
         fxLayout="column">
      <div cdkDragHandle class="p-4 cursor-pointer" fxFlex="none">
        <h2 class="subheading-2 font-medium m-0 select-none" fxFlex="none">{{ list.label }}</h2>
      </div>

      <vex-scrollbar class="flex-auto">
        <div (cdkDropListDropped)="drop($event)"
             [cdkDropListConnectedTo]="getConnectedList(board)"
             [cdkDropListData]="list.children"
             cdkDropList
             fxFlexFill
             class="px-4 pb-4"
             id="{{ list.id }}">
          <div (click)="open(board, list, card)"
               *ngFor="let card of list.children; trackBy: trackById"
               [cdkDragData]="card"
               cdkDrag
               class="scrumboard-card card w-full cursor-pointer overflow-hidden">

            <div *ngIf="card.cover" class="w-full h-40 overflow-hidden">
              <img [src]="card.cover.path" class="object-cover w-full h-full">
            </div>

            <!-- add -->
            <div class="p-4 ">
              <div *ngIf="card.labels?.length > 0" class="mb-2" fxLayout="row" fxFlexFill fxLayoutGap="8px">
                <div *ngFor="let label of card.labels"
                     [ngClass]="label.bgClass"
                     class="label"
                     fxFlex></div>  
              </div>
              

              <h3 class="body-2 m-0 select-none">{{ card.description }}</h3>

              <div *ngIf="card.dueDate || card.comments?.length > 0 || card.attachments?.length > 0 || card.users?.length > 0"
                   class="mt-2"
                   fxLayout="row"
                   fxLayoutGap="8px">
                <!-- <div *ngIf="card.dueDate"
                     [ngClass]="{ 'bg-green text-contrast-white': card.dueDate.done }"
                     class="box bg-app-bar text-secondary rounded caption">
                  <ic-icon [icon]="icNotifications" inline="true" size="16px"></ic-icon>
                  <span class="box-text">{{ card.dueDate.date | dateTokens:'MMM, dd' }}</span>
                </div>-->

                <!-- <div *ngIf="card.comments?.length > 0" class="box bg-app-bar text-secondary rounded caption">
                  <ic-icon [icon]="icInsertComment" class="ml-1" inline="true" size="15px"></ic-icon>
                  <span class="box-text">{{ card.comments.length }}</span>
                </div> 

                <div *ngIf="card.attachments?.length > 0" class="box bg-app-bar text-secondary rounded caption">
                  <ic-icon [icon]="icAttachFile" inline="true" size="16px"></ic-icon>
                  <span class="box-text">{{ card.attachments.length }}</span>
                </div> -->

                <div *ngIf="card.users?.length > 0" fxFlex fxLayout="row" fxLayoutAlign="end center">
                  <img *ngFor="let user of card.users"
                       [matTooltip]="user.name"
                       [src]="user.imageSrc"
                       class="avatar overlapping"> 
                       <p *ngFor="let user of card.users">&nbsp; {{user.name}}</p>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </vex-scrollbar>


      <div #addCardOriginRef class="bg-hover" fxFlex="none">
        <ng-template #addCardTemplate let-close="close">
          <div class="card px-4 py-6">
            <mat-form-field class="vex-dense-form-field">
              <mat-label>Card Description</mat-label>
              <input [formControl]="addCardCtrl" matInput placeholder="Enter here...">
              <button (click)="createCard(list, close)"
                      class="-top-1"
                      color="primary"
                      mat-button
                      matSuffix
                      type="button">CREATE
              </button>
            </mat-form-field>
          </div>
        </ng-template>

        <button (click)="openAddCard(list, addCardTemplate, addCardOriginRef)"
                class="w-full"
                mat-button
                type="button">
          <ic-icon [icon]="icAdd" class="mr-1 -ml-1" inline="true"></ic-icon>
          <span>ADD CARD</span>
        </button>
      </div>
    </div>

    <!--<div #addListOriginRef class="w-full max-w-xxs rounded bg-app-bar" fxFlex="none">
      <ng-template #addListTemplate let-close="close">
        <div class="card px-4 pt-3 pb-2">
          <mat-form-field class="vex-dense-form-field">
            <mat-label>List Title</mat-label>
            <input [formControl]="addListCtrl" matInput placeholder="Enter your title...">
          </mat-form-field>

          <div class="mt-3" fxLayout="row" fxLayoutAlign="space-between center">
            <button (click)="close()" class="text-secondary w-8 h-8 leading-none" mat-icon-button type="button">
              <mat-icon [icIcon]="icClose" size="18px"></mat-icon>
            </button>
            <button (click)="createList(board, close)" color="primary" mat-button type="button">CREATE</button>
          </div>
        </div>
      </ng-template>

      <button (click)="openAddList(board, addListTemplate, addListOriginRef)"
              class="w-full"
              mat-button
              type="button">
        <ic-icon [icon]="icAdd" class="mr-1 -ml-1" inline="true"></ic-icon>
        <span>ADD LIST</span>
      </button>
    </div>-->
  </div>

</div>
