$color-health: #69c319;
$color-stamina: #198dc3;
$color-strength: #c31919;
$color-intelligence: #c3c119;
$color-love: #c31919;
$color-crafting: #19c3b9;
$color-work: orange;


.mycard {
    border-radius: 10px;
    text-align: center;
    height: 295px;
}

.stronger{
   color: $color-strength;
}

.stamina{
   color: $color-stamina;
}