<div class=" card p-6 mycard"  >
    <h2 class="m-0 title" >How does it work?</h2><br>
    <p>You can join Team Holo and embark on an adventure to improve your life, step by step! Each day, one or more of
        your team members will give you a quest which, when completed, will bring you one step closer to a better life.
        As you complete each quest, your character will level up and you will gain rewards, unlocking new challenges
        and opportunities. So join Team Holo and let your story begin!</p><br>
    <p>For example: Taking on a quest that instructs you to go to the gym can not only benefit you in real life by
        increasing your <b class="stronger">strength</b> and <b class="stamina">stamina</b>, but it can also give your character a boost in these areas as well.</p>

</div>

